extends ../layouts/default

block main
  h1 Teams

block content
  .row
    .span12
      a.btn.btn-primary(href='teams/new') Add Team
  .row
    .span9
      each team in teams
        .row
          .span12
            h1=team.name  
  