
header#header
  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
    .navbar-inner
      .container
        .nav-collapse.collapse
          ul.nav
            li
              a(href='/', title="Home") Home
            li
              a(href='/teams', title="team listing") Teams
            li
              a(href="/teams/new", title="new team") New
            li
              a(href='/leagues', title="league listing") Leagues
          ul.nav.pull-right
            if (req.isAuthenticated())
              li
                a(href="/users/"+req.user.id, title="Profile") Profile
              li
                a(href="/logout", title="logout") Logout
            else
              li
                a(href="/login", title="Login") Login
