
header#header
  .navbar.navbar-fixed-top(role='navigation')
    .navbar-inner
      .container
        a.brand(href='/') League
        .nav-collapse.collapse
          ul.nav
            li
              a(href='/teams', title="article listing") Teams
            li
              a(href="/teams/new", title="new article") New
          ul.nav.pull-right
            if (req.isAuthenticated())
              li
                a(href="/users/"+req.user.id, title="Profile") Profile
              li
                a(href="/logout", title="logout") Logout
            else
              li
                a(href="/login", title="Login") Login
